body {
  background-color: #32a87f;
  font-family: Futura;
}

h1 {
  color: #000000;
  border-width: 0.25em;
  border-style: double;
  text-align: center;
}

label {
  width: 150px;
  display: inline-block;
}

#date {
  width: 142px;
}

#time {
  width: 142px;
}

#field {
  border: solid;
  border-width: 2;
  border-color: #2159a3;
  background-color: rgba(52, 174, 235, 0.7);
  display: inline-block;
  margin-bottom: 20px;
  width: 350px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#row {
  display: flex;
  flex-direction: row;
}

