body {
  background-color: #32a87f;
  font-family: Futura;
}

h1 {
  color: #000000;
  border-width: 0.25em;
  border-style: double;
  text-align: center;
}

label {
  width: 150px;
  display: inline-block;
}

#date {
  width: 142px;
}

#time {
  width: 142px;
}

#field {
  border: solid;
  border-width: 2;
  border-color: #2159a3;
  background-color: #34aeeb;
  display: inline-block;
  padding-bottom: 20;
}
