body {
  background-color: #1E1E1E;
  font-family: Futura;
}

h1 {
  color: #FFFFFF;
  border-width: 0.25em;
  border-style: double;
  text-align: center;
  border-color: #5e5656;
}

label {
  width: 150px;
  display: inline-block;
  color: #FFFFFF;
}

#date {
  width: 142px;
}

#time {
  width: 142px;
}

#field {
  border: solid;
  border-width: 2;
  border-color: #f00a0a;
  background-color: rgba(245, 66, 66, 0.5);
  display: inline-block;
  margin-bottom: 20px;
  width: 350px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#row {
  display: flex;
  flex-direction: row;
}

